.component-table {
	/*
	width:500px; 
	height:200px;
	*/
	border-bottom: 1px #ccc solid;
	border-right: 1px #ccc solid;
}
.component-table table {
	border-collapse:collapse;
	border:0;
	border:none;
}

.component-table table td  {
	border:1px solid #ccc;
	padding: 3px 0 ;
	vertical-align: middle;
	display: table-cell;
}


.component-table table .table-cell  {
	overflow:hidden;
	padding:0 2px;
	
	width: 100px;
	min-height:22px;
	text-align: center;
}

.component-table .table-body {
	
	display: inline-flex;
    width: inherit;
	position: relative;

}


.component-table .sortable-icon {
    display: inline-block;
    
    margin-left: 3px;
	position: relative;
	cursor: pointer;
	
	top: 0px;
    border-left: 5px solid transparent;
    border-top: 4px solid #90909066;
    border-right: 5px solid transparent;
}

.component-table .sortable-icon:before {
    top: -10px;
    left: -5px;
    position: absolute;
    display: inline-block;
    content: '';
    border-left: 5px solid transparent;
    border-bottom: 4px solid #90909066;
    border-right: 5px solid transparent;
}

.component-table .asc {
	top: 0px;
    border-left: 5px solid transparent;
    border-top: 4px solid #90909066;
    border-right: 5px solid transparent;
}

.component-table .asc:before {
	top: -10px;
    left: -5px;
    position: absolute;
    display: inline-block;
    content: '';
    border-left: 5px solid transparent;
    border-bottom: 4px solid #999;
    border-right: 5px solid transparent;
}

.component-table .desc {
	top: 0px;
    border-left: 5px solid transparent;
    border-top: 4px solid #999;
    border-right: 5px solid transparent;
}

.component-table .desc:before {
	top: -10px;
    left: -5px;
    position: absolute;
    display: inline-block;
    content: '';
    border-left: 5px solid transparent;
    border-bottom: 4px solid #90909066;
    border-right: 5px solid transparent;
}


.component-table .unlocked-columns {
	overflow:hidden;
}

.component-table .unlocked-columns, .component-table .locked-columns  {
	
	//height: inherit;
	//overflow:hidden;
	position:relative;
}

.component-table .columns-content {
	height: calc(100% - 30px);	/* 默认值，实际会被js修改 */
	display: block;
}

.component-table .unlocked-columns .columns-title {
	display: block;
	overflow:hidden
}
.component-table .unlocked-columns .columns-content {
	//overflow:overlay;
	overflow:hidden;
}

.component-table .locked-columns .columns-content {
	overflow:hidden; 
}
.component-table .locked-columns .columns-title, .component-table  .unlocked-columns .columns-title {
	background:#ddd;
}
.component-table *[col-type="checkbox"] {
	//width: auto;
    //min-width: 10px;
}

.component-table .table-footer {
	height: 40px;
	line-height: 40px;
	margin: 0 auto;
	text-align:center;
	background-color:#ddd;
}
.component-table .table-footer ul {
	padding: 0px;
	margin: 0px;
	list-style: none;
}

.component-table .table-footer  li {
	display: inline-block;
	list-style: none;
	width: 40px;
}

.component-table .table-footer  .page-button {
	cursor: pointer;
	width: 9px;
	height: 9px;
	top: 4px;
    position: relative;
	-webkit-transform: translate(0,-50%) rotate(-135deg);  
	transform: translate(0,-50%) rotate(-135deg);
}

.component-table .table-footer  li.prev {
	border-right: 1px solid #999;
	border-top: 1px solid #999;
	
}

.component-table .table-footer  li.next {
	border-left: 1px solid #999;
	border-bottom: 1px solid #999;
}

.component-table .table-footer  .page-no {
	cursor: pointer;
}

.component-table .table-footer  .page-no {
	cursor: pointer;
}

.component-table .row-no .table-cell {
	min-width: 30px;
    width: 30px;
}

.component-table .current-page {
	background-color: #789;
	
}

.component-table  .scroll-bar-y {
	display: block;
    overflow-x: hidden;
    overflow-y: scroll;
    position: absolute;
    top: 31px;
    right: 0px;
    height: 0;
}


.component-table .scroll-bar-x {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    position: absolute;
    bottom: 0px;
}
