.component-table {
	width:500px; 
	height:200px;
	border-bottom: 1px #ccc solid;
	border-right: 1px #ccc solid;
}
.component-table table {
	border-collapse:collapse;
	border:0;
	border:none;
}

.component-table table td  {
	border:1px solid #ccc;
	overflow:hidden;
	padding:0 2px;
	
	min-width: 100px; 
	max-width: 100px;  
	width: 100px;
	
	text-align: center;
}

.component-table .sortable-icon {
    width: 10px;
    height: 10px;
    display: inline-block;
    
    margin-left: 3px;
	position: relative;
	height: 0px;
	width: 0px;
	cursor: pointer;
	top: -3px;
}
.component-table .asc {
	border-left: 5px solid transparent;
	border-top: 5px solid #999;
	border-right: 5px solid transparent;
}

.component-table .desc {
	border-left: 5px solid transparent;
	border-bottom: 5px solid #999;
	border-right: 5px solid transparent;
}

.component-table .unlocked-columns {
	width:calc(100% - 211px);
}

.component-table .unlocked-columns, .component-table .locked-columns  {
	float: left;
	height: inherit;
	overflow:hidden;
	position:relative;
}

.component-table .columns-content {
	height: calc(100% - 21px);
	display: block;
}

.component-table .unlocked-columns .columns-title {
	display: block;
	overflow:hidden
}
.component-table .unlocked-columns .columns-content {
	overflow:overlay; 
}

.component-table .locked-columns .columns-content {
	overflow:hidden; 
}
.component-table .locked-columns .columns-title, .component-table  .unlocked-columns .columns-title {
	background:#ddd;
}